{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <form action="." method="POST">
            {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.name == "contents" %}
        <textarea class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}"></textarea>
        {% else %}
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}" name="{{ field.name }}" />
        {% endif %}
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-primary">글쓰기</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/post/'">돌아가기</button>
        </form>
    </div>
</div>

{% endblock%}



{% comment %} 
{% load static %}
 
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    </head>
        <body>
            <div>
                <h1> Write Post</h1>
                <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type= "submit" class="save btn btn-default">Save</button>
                </form>
                <div class="a-center">
                <a href="{% url 'post_list' %}">Back to Post List</a>
                </div>
            </div>
        </body>
</html> 
{% endcomment %}


