{% extends 'base.html' %}


{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>Post List</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
    {% for post in posts %}
        <h2><a href="{% url post_detail pk=post.pk%}">{{post.title}} </a></h2>
        <p>{{post.body|truncatewords:30}} </p>
        {% empty%}
        <p>No posts yet. </p>
    {% endfor%}
    <a href="{% url post_new %}" class="btn btn-primary mt-4">New Post</a>
    </div>
</div>
{% endblock %}

{% comment %} 
|truncatewords:30 == | 30글자 제한

<h2> <a href="{% url post_detail pk=post.pk%}">{{post.title}} </a></h2>
        <p>{{post.body|truncatewords:30}} </p>
        {% empty%}
        <p>No posts yet. </p>

위의내용과 같은내용
<input type="text" name="title" >
<textarea name="body" id="" cols="30" rows="10">{{}} </textarea> {% endcomment %}
    